<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>933286249055-7e673t16u23eckv5ucki7ad85cvlogvm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.933286249055-7e673t16u23eckv5ucki7ad85cvlogvm</string>
	<key>API_KEY</key>
	<string>AIzaSyBTuPM3m43-37jqOmq0puC6J_h1GFZk5RI</string>
	<key>GCM_SENDER_ID</key>
	<string>933286249055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>deniss.lobacs.FirebaseApp</string>
	<key>PROJECT_ID</key>
	<string>fir-app-840ea</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-app-840ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:933286249055:ios:574bb3a01ad9882f9991ea</string>
</dict>
</plist>